<div class="footer-top-area p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <h3>My Company</h3>
                <p>Welcome to a world with great possibilites. With our services all your dreams come true.</p>
            </div>

            <div class="col-md-3 col-sm-12">
                <h3>User Navigation </h3>
                <ul class="list-unstyled">
                    <li><a routerLink="">Site Map</a></li>
                    <li><a routerLink="">About</a></li>
                    <li><a routerLink="">Terms and Conditions</a></li>
                    <li><a routerLink="">Privacy Policy</a></li>
                    <li><a routerLink="">Contact Us</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-12">
                <h3>Newsletter</h3>
                <p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your
                    inbox!</p>
                <div class="newsletter-form">
                    <input type="email" placeholder="Type your email">
                    <input type="submit" value="Subscribe" class="btn btn-custom mt-2">
                </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="lang">
                    <h3>Language</h3>
                    <select id="language">
                        <option value="english">English</option>
                        <option value="arabic">العربية</option>
                        <option value="french">French</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-bottom-area mx-4 d-flex justify-content-end">
    <div class="copyright">
        <p>&copy; 2025 Sara. All Rights Reserved.</p>
    </div>
</div>